
<div class="alert alert-primary" role="alert">
    <h2 class="margin-15px ">@ViewBag.CheckoutCompleteMessage </h2>
</div>

<a type="button" class="btn btn-dark" asp-controller="Home" asp-action="Index">На головну</a>