@model HomeViewModel
<div class="container">
<div class="col-12 align-content-center"><partial name="_Carousel" /></div>

<h3>Ноутбуки зі знижкою</h3>
<div class="row">
    @foreach (var lap in Model.LaptopsOnDiscount)
    {
        <partial name="_LaptopCard" model="lap" />
    }
</div>
    </div>
